/*utils_variables*/
:root {
  --linkHover: #bcbe52;
  --title: #fff;
  --titleBg: #15244a;
  --accent: #233d7a;
  --sidebartext: #fff;
  --sidebarBg: #1f585f;
  --text: #595959;
  --period: var(--text);
  --divider: #000;
  --contactIconBg: var(--titleBg);
}
body {
  font-family: 'sitka text', sans-serif;
  background-color: #c7c2c2d5;
}
/*common_reset*/
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mainContainer {
  background-color: #e5e5e5;
  max-width: 1600px;
  min-width: 1200px;
  margin: 0px auto;
  padding: 5px;
}
.container {
  background-color: #fff;
  display: flex;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main_content_section*/
.mainContent {
  padding: 25px;
}
