.header {
  font-style: normal;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;
}
.myName {
  composes: header;
  font-size: 60px;
  line-height: 1.2em;
  padding: 20px 0;
}
.profession {
  composes: header;
  font-size: 25px;
  margin-bottom: 20px;
}
.level {
  composes: profession;
  color: var(--accent);
}

.description {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2em;
  color: var(--text);
  padding: 10px 20px 10px 20px;
}
